@font-face {
  font-family: 'OpenSans-Light';
  src: url('osl.woff') format('woff');
}

body {
  font-family:'OpenSans-Light';
  font-weight: lighter;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

div {
  margin: auto;
  width: 85%;
  max-width: 500px;
}

svg {
  margin-top: 25px;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  svg path { fill: #ddd; }

  body {
    color: #ddd;
    background-color: black;
  }

  a {
    color: #66d;
  }
}